*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 1rem;
}
html {
  font-size: 15px;
}
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #272628;
}
body.no-scroll {
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.img {
  display: block;
  max-width: 100%;
  height: about;
}
.hide {
  display: none;
}
.slick-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  z-index: 2;
}
.slick-dots li {
  margin: 0 0.5rem;
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.slick-dots button {
  width: 11px;
  height: 11px;
  padding: 0;
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}
.slick-dots button:focus {
  outline: 0;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  background-color: rgba(39, 38, 40, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  overflow-x: hidden;
}
.modal__dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.3s linear;
}
.modal__dialog--sm {
  max-width: 900px;
}
.modal__close {
  width: 34px;
  height: 34px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  z-index: 1;
  transition: transform 0.2s linear;
}
.modal__close:hover {
  transform: rotate(90deg);
}
.modal__content {
  padding: 5rem 1rem;
}
.modal__title {
  margin-bottom: 3.6rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #272628;
  font-weight: 700;
}
.modal__title--sm {
  margin-bottom: 0;
}
.modal__subtitle {
  text-transform: uppercase;
  font-size: 1.06rem;
  color: #272628;
  font-weight: 400;
}
.modal.show {
  display: flex;
}
.modal-work {
  display: flex;
}
.modal-work__preview {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work__content {
  position: relative;
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
}
.modal-work__header {
  margin-bottom: 2.2rem;
}
.modal-work__title {
  margin-bottom: 0.2rem;
  font-size: 2.12rem;
  color: #272628;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-work__info {
  font-size: 1.2rem;
  color: #6a696b;
  text-transform: uppercase;
}
.modal-work__info-divider {
  margin: 1rem;
}
.modal-work__client {
  margin-bottom: 2.2rem;
}
.modal-work__client-title {
  margin-bottom: 0.2rem;
  font-size: 1.06rem;
  color: #272628;
  font-weight: 700;
}
.modal-work__client-company {
  font-size: 0.94rem;
  font-style: italic;
  color: #6a696b;
}
.modal-work__text {
  margin-bottom: 8.66rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #6a696b;
  font-weight: 300;
}
.modal-work__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.modal-work__footer-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.94rem;
  color: #272628;
  text-transform: uppercase;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.header {
  padding: 1.2rem 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
}
.user__avatar img {
  height: 57px;
  width: 57px;
}
.user__content {
  padding-left: 9px;
  align-items: center;
}
.user__name {
  margin-bottom: 3px;
  font-size: 1.06rem;
  line-height: 1.2rem;
  color: #272628;
  font-weight: 700;
}
.user__prof {
  font-size: 0.8rem;
  color: rgba(39, 38, 40, 0.7);
}
.nav {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav__link {
  margin-left: 2rem;
  position: relative;
  font-size: 0.93rem;
  color: #272628;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
.nav__link:after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #272628;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.nav__link--btn {
  padding: 0.66rem 2rem;
  border: 2px solid #272628;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link--btn:hover {
  background-color: #272628;
  color: #ffffff;
}
.intro__inner {
  display: flex;
  padding-top: 6.6rem;
  padding-bottom: 8rem;
  position: relative;
  background: url('../img/symbols.png') right bottom no-repeat;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}
@media (max-width: 991px) {
  .intro__inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: 400px auto;
  }
}
@media (max-width: 565px) {
  .intro__inner {
    background: none;
  }
}
.intro__content {
  width: 50%;
}
@media (max-width: 565px) {
  .intro__content {
    width: 100%;
  }
}
.intro__subtitle {
  font-size: 2.13rem;
  color: #272628;
  font-weight: 200;
}
@media (max-width: 991px) {
  .intro__subtitle {
    font-size: 1.5rem;
  }
}
.intro__title {
  margin-bottom: 5px;
  font-size: 3rem;
  color: #272628;
  font-weight: 700;
}
@media (max-width: 991px) {
  .intro__title {
    font-size: 2rem;
  }
}
.intro__text {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: rgba(39, 38, 40, 0.7);
}
.intro__photo {
  position: absolute;
  height: 493px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 991px) {
  .intro__photo {
    width: 393px;
    height: auto;
  }
}
@media (max-width: 565px) {
  .intro__photo {
    display: none;
  }
}
.social {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}
.social__item {
  transition: all 2s ease;
}
.social__item-link {
  text-decoration: none;
  margin-right: 10px;
}
.social__item-link img {
  width: 35px;
  height: 35px;
}
.social__item-hide {
  display: none;
}
.social__item:hover {
  cursor: pointer;
}
.social__item:hover .social__item-link {
  display: none;
}
.social__item:hover .social__item-hide {
  display: inline;
}
.animate2 {
  position: relative;
  margin: 0 auto;
  width: 35px;
  height: 35px;
}
.animate2 img {
  position: absolute;
  left: 0;
  top: 0;
}
.animate2 img.first {
  opacity: 0;
}
.animate2:hover img.first {
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease-out;
  transform: translateY(-10px);
}
.animate2:hover img.second {
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateY(-10px);
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  border: 1px solid #6a696b;
  min-width: 170px;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  color: #272628;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, box-color 0.2s linear;
}
@media (max-width: 991px) {
  .btn {
    font-size: 1rem;
    padding: 1em 1.5em;
    min-width: 140px;
  }
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #272628;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  border-color: #272628;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn--sm {
  padding: 0.7em 1.2em;
  min-width: 0;
  font-size: 0.94rem;
  font-weight: 700;
  border: 2px solid #272628;
}
.btn--thin {
  margin-top: 4.2rem;
  min-width: 145px;
  font-size: 0.8rem;
}
.works {
  margin: 2.8rem 0;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.works__nav-link {
  margin: 0 1.2rem;
  font-size: 0.8rem;
  color: rgba(39, 38, 40, 0.7);
  text-decoration: none;
}
.works__nav-link:hover {
  text-decoration: underline;
}
.work {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s linear;
}
.work:hover {
  cursor: pointer;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.work__content {
  padding: 1rem 0.8rem;
}
.work__category {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #272628;
  text-transform: uppercase;
}
.work__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.06rem;
  color: #272628;
  text-transform: uppercase;
  font-weight: 700;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}
.portfolio__col {
  flex-basis: 33.3%;
  padding: 1rem;
}
@media (max-width: 768px) {
  .portfolio__col {
    flex-basis: 50%;
  }
}
@media (max-width: 565px) {
  .portfolio__col {
    flex-basis: 100%;
  }
}
.about {
  margin: 8.4rem 0;
}
.about__inner {
  display: flex;
  max-width: 1090px;
}
.about__photo {
  position: relative;
  width: 50%;
}
.about__photo img {
  position: absolute;
  bottom: 4.3rem;
  left: 0;
  z-index: 2;
}
.about__photo:before {
  content: '';
  width: 413px;
  height: 413px;
  background-color: #efefef;
  position: absolute;
  bottom: 4.3rem;
  left: 0;
  z-index: 1;
}
.about__content {
  width: 50%;
  padding-left: 3.2rem;
  margin-top: 2rem;
}
.about__title {
  font-size: 3rem;
  color: #272628;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .about__title {
    font-size: 2.5rem;
  }
}
.about__bigtitle {
  margin-bottom: 1.4rem;
  position: relative;
  left: -15px;
  font-size: 6.1rem;
  line-height: 1.1;
  color: rgba(39, 38, 40, 0.15);
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .about__bigtitle {
    font-size: 4rem;
  }
}
.about__text {
  margin-bottom: 2.8rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #6a696b;
  font-weight: 300;
}
.reviews {
  padding: 4.6rem 0;
  position: relative;
  background: #332f30 url('../../img/background-symbols.png') center no-repeat;
}
.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.reviews__text {
  font-size: 0.94rem;
  line-height: 2.2;
  color: #ffffff;
  text-align: justify;
}
.reviews__author {
  width: 100%;
  margin-top: -51px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.reviews__photo {
  display: block;
  margin: 0 auto 0.6rem;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  border: 4px solid #efefef;
}
.reviews__name {
  margin-bottom: 0.03rem;
  font-size: 1.6rem;
  color: #272628;
  font-weight: 700;
}
.reviews__company {
  margin-bottom: 0.4rem;
  font-size: 0.94rem;
  color: #6a696b;
  font-style: italic;
  font-weight: 300;
}
.reviews__star {
  width: 13px;
  height: 13px;
}
.reviews__star--unactive {
  opacity: 0.3;
}
.reviews {
  padding: 4.6rem 0;
  position: relative;
  background: #332f30 url('../../img/background-symbols.png') center no-repeat;
}
.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.reviews__text {
  font-size: 0.94rem;
  line-height: 2.2;
  color: #ffffff;
  text-align: justify;
}
.reviews__author {
  width: 100%;
  margin-top: -51px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.reviews__photo {
  display: block;
  margin: 0 auto 0.6rem;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  border: 4px solid #efefef;
}
.reviews__name {
  margin-bottom: 0.03rem;
  font-size: 1.6rem;
  color: #272628;
  font-weight: 700;
}
.reviews__company {
  margin-bottom: 0.4rem;
  font-size: 0.94rem;
  color: #6a696b;
  font-style: italic;
  font-weight: 300;
}
.reviews__star {
  width: 13px;
  height: 13px;
}
.reviews__star--unactive {
  opacity: 0.3;
}
.news {
  margin-top: 14rem;
  margin-bottom: 8rem;
}
.news__header {
  margin-bottom: 3.6rem;
  text-align: center;
}
.news__title {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  color: #272628;
  text-transform: uppercase;
  font-weight: 700;
}
.news__text {
  font-size: 1.2rem;
  color: #8d8d8e;
  font-weight: 300;
}
.news__footer {
  text-align: right;
}
.news__link {
  font-size: 0.94rem;
  color: #6a696b;
}
.news__link:hover {
  text-decoration: none;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.articles__col {
  width: 33.3%;
  padding: 0 1rem;
}
.articles__item {
  margin-bottom: 2rem;
}
.articles__header {
  position: relative;
  margin-bottom: 1.3rem;
}
.articles__content {
  margin-bottom: 2rem;
}
.articles__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  background-color: #272628;
  text-align: center;
  color: #ffffff;
  font-size: 1.06rem;
  line-height: 1.4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.articles__title {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  color: #272628;
  text-transform: uppercase;
  font-weight: 700;
}
.articles__title a {
  color: inherit;
  text-decoration: none;
}
.articles__title a:hover {
  text-decoration: underline;
}
.articles__category {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  color: #272628;
  text-transform: uppercase;
}
.articles__text {
  font-size: 0.8rem;
  color: #6a696b;
  font-weight: 300;
  line-height: 2;
}
.footer {
  padding: 1rem 0;
  background-color: #272628;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__credits {
  display: flex;
  align-items: center;
}
.footer__copyright {
  padding-right: 0.8rem;
  margin-right: 1rem;
  font-size: 0.94rem;
  color: #bbbbcc;
  border-right: 2px solid rgba(106, 105, 107, 0.5);
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__socials a {
  margin-right: 1.2rem;
  text-decoration: none;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 0.94rem;
}
.footer__nav-link {
  margin-left: 1.5rem;
  color: #bbbbcc;
  text-decoration: none;
}
.footer__nav-link:hover {
  text-decoration: underline;
}
.footer__nav-link--btn {
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  border: 1px solid #8d8d8e;
  line-height: 1.1;
}
.footer__nav-link--btn:hover {
  text-decoration: none;
  background-color: #bbbbcc;
  border-color: #bbbbcc;
  color: #272628;
}
.contact {
  display: flex;
  background: url('https://placehold.it/477x700') right center no-repeat;
}
.contact__left {
  width: 47%;
  padding: 2rem;
}
.contact__info {
  margin: 2rem 0 3rem;
  padding: 0;
  list-style: none;
  font-size: 0.94rem;
  color: #272628;
  font-weight: 300;
}
.contact__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
.contact__info-item:last-child {
  margin-bottom: 0;
}
.contact__info-icon {
  margin-right: 0.75rem;
}
.form__group {
  margin-bottom: 1.8rem;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  color: #272628;
  font-weight: 700;
}
.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 1.8rem;
  font-family: inherit;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 300;
  color: #272628;
  transition: border-color 0.2s linear;
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #6a696b;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: #6a696b;
}
.form__textarea {
  height: 200px;
  resize: none;
}
.burger {
  width: 30px;
  height: 30px;
  display: none;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
