//  main: ../style.less

.intro {
  &__inner {
    display: -webkit-box;
    display: flex;
    padding-top: 6.6rem;
    padding-bottom: 8rem;
    position: relative;
    background: url('../img/symbols.png') right bottom no-repeat;
    border-bottom: 1px solid rgba(@gray, .3);

    @media @tablet {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-size: 400px auto;
    }

    @media @mobile-sm {
      background: none;
    }
  }

  &__content {
    width: 50%;

    @media @mobile-sm {
      width: 100%;
    }
  }

  &__subtitle {
    font-size: 2.13rem;
    color: @black;
    font-weight: 200;

    @media @tablet {
      font-size: 1.5rem;
    }
  }
  
  &__title {
    margin-bottom: 5px;
    font-size: 3rem;
    color: @black;
    font-weight: 700;

    @media @tablet {
      font-size: 2rem;
    }
  }

  &__text {
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: rgba(@black, .7);
  }

  &__photo {
    position: absolute;
    height: 493px;
    bottom: 0;
    right: 0;
    z-index: 1;

    @media @tablet {
      width: 393px;
      height: auto;
    }

    @media @mobile-sm {
      display: none;
    }
  }
}